@model PagedResult<Campus_Events.Models.Event>

@{
    ViewData["Title"] = "UserDashboard";
    Layout = "_Layout";
}

<div class="container ">
    <!-- Menu de navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Dashboard</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-action="UserDashboard">Events Available</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="RegisteredEvents">List of registered events</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Logout" asp-controller="Authentication">
                            <span class="glyphicon glyphicon-log-in"></span> Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">

        <!-- Check and display registration message -->
    @if (TempData["Message"] != null)
    {
        <div id="tempMessage" class="alert alert-info mt-3">
            @TempData["Message"]
        </div>
    }

        <div class="welcome-section text-center mb-4">
            <h2 class="mb-2">🎉 Hello, @ViewBag.UserFullName! 🎉</h2>
            <p>Welcome to your Campus Events Dashboard!</p>
            <p>Check out the latest events happening on campus and get involved in the activities you love!</p>
        </div>


        <!-- Event display -->
    <div class="row">
        @foreach (var obj in Model.Items)
        {
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                            <h5 class="card-title  text-center">@obj.Title</h5>
                        <p class="card-text mb-2">
                                <strong>Date:</strong> <i class="fas fa-calendar-alt"></i> @obj.Date.ToString("dd/MM/yyyy HH:mm")
                        </p>
                        <p class="card-text"><strong>Location :</strong> @obj.Location</p>                       
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="text-muted">
                                <i class="fas fa-users"></i> @obj.RegisteredSeatsCount / @obj.TotalSeats
                            </span>
                            <a asp-action="EventDetails" asp-route-id="@obj.ID" class="btn btn-primary btn-sm">
                                Détails <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

        <div class="pagination">
            @if (Model.CurrentPage > 1)
            {
                <a asp-action="UserDashboard" asp-route-pg="@(Model.CurrentPage - 1)">Previous</a>
            }
            <div style="text-align: center; flex-grow: 1;">
                Page @Model.CurrentPage of @Model.TotalPages
            </div>
            @if (Model.CurrentPage < Model.TotalPages)
            {
                <a asp-action="UserDashboard" asp-route-pg="@(Model.CurrentPage + 1)">Next</a>
            }
        </div>
</div>
</div>

@*  <script>
    setTimeout(function () {
        var messageElement = document.getElementById("tempMessage");
        if (messageElement) {
            messageElement.style.display = "none";
        }
    }, 3000); 
</script>   *@         